<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Phrozn - Static Site Generator for PHP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" rel="stylesheet" media="screen, projection" type="text/css" />
        <link href="/styles/default.css" rel="stylesheet" media="screen, projection" type="text/css" />
        <link href="/styles/prettify.css" type="text/css" rel="stylesheet" />

        <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script type="text/javascript" src="/scripts/default.js"></script>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22641839-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <div id="page">
            <div class="ui-corner-top" id="header">
                <h1><a href="/">phrozn</a></h1>
                <h2>Static site generator for PHP</h2>
                <div id="thingy"></div>
                <ul id="nav">
                    <li><a href="/en/">Summary</a></li>
                    <li><a href="/en/installation/">Installation</a></li>
                    <li><a href="/en/documentation/">Documentation</a></li>
                    <li><a href="/en/community/">Community</a></li>
                    <li><a href="https://github.com/farazdagi/phrozn/contributors">Contributors</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div id="content">
                {{ content }}
                <div class="clear vspacer"></div>
                <div class="note">
                    Generated on {{ "now"|date("d M, Y") }} at {{ "now"|date("H:i") }} using {{ phr.name[0] }} {{ phr.version[0] }}.
                </div>
            </div>
            <div class="ui-corner-bottom" id="footer">
                <div id="farazdagi"><a href="http://twitter.com/#!/farazdagi">f</a></div>
                <div id="snow-flakes"></div>
                <div id="back-to-top"><a href="#page">TOP</a></div>
                <div id="validators">
                    <p>
                        <a href="http://validator.w3.org/check?uri=referer"><img
                            src="http://www.w3.org/Icons/valid-xhtml10"
                            alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
                    </p>
                </div>
                <div class="right">
                    <div>
                        Copyright &copy; 2013 <a href="http://twitter.com/#!/farazdagi">Victor Farazdagi</a>
                    </div>
                    <div>
                        Elephant logo created by <a href="http://wizardcat.com/eng">Wizardcat</a>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <a href="https://github.com/farazdagi/phrozn"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
        </p>
    </body>
</html>
